
  .header_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width: 100%;
    background-color: white;
    height: 5rem; 
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .Homepage_div_1 {
    width: 5rem; 
    height: 5rem; 
  }
  
  .Homepage_div_1 img {
    margin-top: 0.5rem;
    height: 4rem;
    object-fit: cover;  
  }
  
  .Homepage_div_2 ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    gap: 1rem; 
  }
  
  
  .Homepage_div_2 li {
    padding: 0.5rem;
  }